body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 18px;
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a{
  text-decoration: none;
  border: none;
}

img{
  font-size: 0;
  border: none;
  outline: none;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

button{
  border: none;
  outline: none;
  background-color: transparent;
}

button:focus{
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6{
  &::selection{
    background-color: #1c93d5;
    color: #fff;
  }
}
//place holder style
::-webkit-input-placeholder{
  color: #ccc;
}
::-moz-placeholder{
  color: #ccc;
}/* Firefox 19+ */
:-moz-placeholder{
  color: #ccc;
}/* Firefox 18- */
:-ms-input-placeholder{
  color: #ccc;
}
.show{
  display: block !important;
}

input{
  font-family: 'Open Sans', sans-serif;
  outline: none;
  padding: 10px;
  border: 1px solid;
  font-weight: normal;
  font-size: 16px;
}

textarea{
  outline: none;
  border: none;
}

.clearfix:after{
  content:"";
  display:block;
  clear:both;
}




form {
  text-align: center;
  margin-top: 100px;
}

.input-field {
  margin-bottom: 10px;
}

.btn {
  padding: 10px 80px;
  border: 1px solid;
  margin-bottom: 10px;
  cursor: pointer;
}