.panel__colors {
  .sketch-picker {
    display: none !important;
  }
}
.color-picker-container {
  padding-top: 80px;
  &__title {
    text-align: center;
    text-shadow: 2px 2px #fff;
    margin: 0;
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 35px;
  }

}
.sketch-picker {
  margin: 0 auto; 
  cursor: pointer;
  margin-bottom: 40px;
}
.flexbox-fix:nth-child(3) {
  display: none !important;
}

.chrome-picker {
  margin: 0 auto;
  width: 350px !important;
  cursor: pointer;
  float: left;
}